/* For mobile: */
@media only screen and (max-width: 600px) {
  :root {
    --bg-light: rgb(197, 195, 195);
    --bg-dark: rgb(233, 230, 230);

    --font-100: 60px;
    --font-75: 36px;
    --font-50: 20px;
  }

  #social-icon a i {
    font-size: 20px;
  }
  /* banner */
  .banner-img {
    height: 100vh;
    object-fit: cover;
  }
  .banner-name {
    width: 400px;
  }
  .banner-name span {
    opacity: 1;
    font-size: 24px;
  }

  /* navbar */
  #nav-bar .container {
    display: flex;
    flex-direction: column;
  }
  #nav-bar .nav-info {
    min-width: 150px;
    justify-content: start;
    border: none;
    font-size: var(--font-50);
  }
  #nav-bar .nav-info-name {
    display: none;
  }

  /* container */
  #about .container,
  #job-info .container,
  #project .section-content {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 360px;
    margin-bottom: 50px;
  }

  /* job */
  #job-info .container {
    padding: 0;
  }
  #job-info .info-child {
    width: 96%;
    padding: 30px;
  }
  /* decor li */
  .info-child li::before {
    transform: scale(2.5);
    margin-top: 0px;
  }
  .job-icon {
    padding: 40px 0;
  }
  .job-icon i {
    font-size: 28px;
    top: -10px;
  }
  .sub-icon2 i {
    bottom: 10px;
    width: 70px;
    height: 70px;
    margin: 30px;
    font-size: 28px;
  }
  /* SKILL-BAR */
  #job-info .point-bar {
    margin: 25px 0 40px 0;
  }
  #job-info .bar {
    width: 60px;
    height: 3px;
    border-radius: 0;
  }

  /* certificate */
  #certificate .container {
    /* border: 1px solid black; */
    width: 88%;
  }
  #certificate .part-content {
    width: 100%;
  }
  #certificate .section-content {
    display: grid;
    grid-template-columns: 1fr;
    /* border: 1px solid black; */
  }
  #certificate img {
    margin-top: 60px;
  }
  #certificate .section-title {
    margin-left: -20px;
    width: 70%;
  }
  #certificate .part1,
  #certificate .part2,
  #certificate .part3 {
    padding: 0;
    padding-bottom: 30px;
  }
  #certificate .part1,
  #certificate .part2 {
    border-bottom: 2px solid #f7ca60;
  }

  /* project */
  #project .container {
    width: 88%;
  }
  #project .section-title {
    margin-bottom: 50px;
  }
  #project .section-content {
    row-gap: 40px;
  }
  .part2::after {
    display: none;
  }
  #project .pp-2 {
    display: block;
  }
  table tr:nth-child(3) {
    height: 80px;
  }
  /* footer */
  #footer .container {
    padding: 50px;
  }
  #footer span {
    display: none;
  }
  #footer i {
    font-size: 30px;
    margin-right: 0;
  }
}
